
 /* Ocultar Flechas input number */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    /* Type date onlick event hidden calendar icon  */
    input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    /* Type date onlick event hidden time icon  */
    input[type="time"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

     /* Type date onlick event hidden time icon  */
     input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    .date-ini {
        display:inline;
    }

    .date-fin {
        display:inline;
    }

    .time-ini {
        display:inline;
    }

    .time-fin {
        display:inline;
    }

    .bgcolorday:hover {
        background-color:#EDFBFE;
        cursor:pointer;
    }

    .thDaysofweek {
       width:25px;
       text-align: center;
    }

    .displayNone {
        display: none;
     }

     .colorerror {
        color: #ff0000;   
        font-size: 14px;
    }

    .glosaTable {
        text-align: justify;
    }

    .size-icon {
        font-size: 22px;
    }
    .size-icon:hover {
        font-size: 25px;
        transition: 0.1s;      
    }

    /* .link-azul {
        color:#0B5ED7;
    }

    .link-gris {
        color:#828b9a;
    }


    a:hover {
        background-color: yellow;
        color:#0B5ED7;
        color:yellow;
      }

    .link-nav {
        text-decoration: none;
    }

    .link-nav:hover {
        text-decoration: underline;
        color:#Ff00ff;
        font-weight:500;
        transition: 0.1s;
      
    } */

    /* 
    Colores banner Sponsors Laravel News Fondo: #FFFEF0 Titulo text:negro resumen: #656873 Texto:#F89823 Fondo de texto o para color de icono: #591E5D 
    color #7D8AB0 para los botones del menu 
    Color de fondo de la página #F5F8FF
    Color de letra #6E7895 #21293C
    Colores Laravel Welcome: Letra Laravel #EF3B2D #F4645F Border: #AB8462 Fondo Pagina: #F7FAFC #FFFEF0 #7EA29A  Iconos Card: #A0AEC0 Letras Card: #D8DCE2
    Colores freepik para los alert: Fondo: #EFF3F6 Letra: #1273EB   ; Fondo: #EBF7FE  Letras: #153A6B
    
    Color botones sitio https://ibt.uai.asimov.cl/visualizations
    #464799 #138D75 #DF5B00 #FD435F #09B1FF 
    */

    .hover-underline-animation {
        text-decoration:none;
        display: inline-block;
        position: relative;
        color:#0B5ED7;
        /* ; */
      }      
      
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0B5ED7;
        transform-origin: bottom right;
        transition: transform 0.38s ease-out;
      }
      
    .hover-underline-animation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }


    /* Efecto rebote Loading */
    @keyframes bouncing-loader {
        to {
          opacity: 0.1;
          transform: translate3d(0, -16px, 0);
        }
      }
      
      .bouncing-loader {
        display: flex;
        justify-content: center;
      }
      
      .bouncing-loader > div {
        width: 16px;
        height: 16px;
        margin: 3rem 0.2rem;
        background: #8385aa;
        border-radius: 50%;
        animation: bouncing-loader 0.6s infinite alternate;
      }
      
      .bouncing-loader > div:nth-child(2) {
        animation-delay: 0.2s;
      }
      
      .bouncing-loader > div:nth-child(3) {
        animation-delay: 0.4s;
      }
    /* Fin Efecto rebote Loading */


    /*Ver mas columna Motivo*/
    .el {
      transition: max-height 1s;
      overflow: hidden;
      max-height: 0;
    }
    
    .trigger:hover > .el {
      max-height: var(--max-height);
    }

    