
 /* Ocultar Flechas input number */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    /* Type date onlick event hidden calendar icon  */
    input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    /* Type date onlick event hidden time icon  */
    input[type="time"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

     /* Type date onlick event hidden time icon  */
     input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    .date-ini {
        display:inline;
    }

    .date-fin {
        display:inline;
    }

    .time-ini {
        display:inline;
    }

    .time-fin {
        display:inline;
    }

    .bgcolorday:hover {
        background-color:#EDFBFE;
        cursor:pointer;
    }

    .thDaysofweek {
       width:25px;
       text-align: center;
    }

    .displayNone {
        display: none;
     }

     .colorerror {
        color: #ff0000;   
        font-size: 14px;
    }



    /* .link-nav {
        text-decoration: none;
    }

    .link-nav:hover {
        text-decoration: underline;
        color:#Ff00ff;
        font-weight:500;
        transition: 0.1s;
      
    } */

    /* color #7D8AB0 para los botones del menu 
    Color de fondo de la página #F5F8FF
    Color de letra #6E7895 #21293C
    Colores Laravel Welcome: Letra Laravel #EF3B2D  Fondo Pagina: #F7FAFC Iconos Card: #A0AEC0 Letras Card: #D8DCE2
    */

    

.bgcolorbtnmenu {
    background-color: white;
}

    .btn-white:hover {
        color: #ddf7aa;
        background-color:#000000;
        border-color: white;
      }


     button .btn-white {
        /* Font & Text */
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 24px;
        text-decoration: none solid rgb(0, 0, 0);
        text-align: center;
        text-indent: 0px;
        text-transform: none;
        vertical-align: middle;
        white-space: normal;
        word-spacing: 0px;
    
        /* Color & Background */
        background-attachment: scroll;
        background-color: white;
        background-image: none;
        background-position: 0% 0%;
        background-repeat: repeat;
        color: rgb(0, 0, 0);
    
        /* Box */
        height: 38px;
        width: 61.3125px;
        border: 1px solid white;
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        max-width: none;
        min-width: 0px;
    
        /* Positioning */
        position: static;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        float: none;
        display: inline-block;
        clear: none;
        z-index: auto;
    
        /* List */
        list-style-image: none;
        list-style-type: disc;
        list-style-position: outside;
    
        /* Table */
        border-collapse: separate;
        border-spacing: 0px 0px;
        caption-side: top;
        empty-cells: show;
        table-layout: auto;
    
        /* Miscellaneous */
        overflow: visible;
        cursor: pointer;
        visibility: visible;
    
        /* Effects */
        transform: none;
        transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        outline: white dashed 1px;
        outline-offset: 0px;
        box-sizing: border-box;
        resize: none;
        text-shadow: none;
        text-overflow: clip;
        word-wrap: normal;
        box-shadow: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }