/* Ocultar Flechas input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Type date onlick event hidden calendar icon  */
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* Type date onlick event hidden time icon  */
input[type="time"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* Type date onlick event hidden time icon  */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.date-ini {
    display: inline;
}

.date-fin {
    display: inline;
}

.time-ini {
    display: inline;
}

.time-fin {
    display: inline;
}

.bgcolorday:hover {
    background-color: #edfbfe;
    cursor: pointer;
}

.thDaysofweek {
    width: 25px;
    text-align: center;
}

.displayNone {
    display: none;
}

.hidden-element {
    margin-top: 125px;
}

.colorerror {
    color: #ff0000;
    font-size: 14px;
}

.glosaTable {
    text-align: justify;
}

.size-icon {
    font-size: 22px;
}
.size-icon:hover {
    font-size: 25px;
    transition: 0.1s;
}

/* .link-azul {
        color:#0B5ED7;
    }

    .link-gris {
        color:#828b9a;
    }


    a:hover {
        background-color: yellow;
        color:#0B5ED7;
        color:yellow;
      }

    .link-nav {
        text-decoration: none;
    }

    .link-nav:hover {
        text-decoration: underline;
        color:#Ff00ff;
        font-weight:500;
        transition: 0.1s;
      
    } */

/* 
    Colores banner Sponsors Laravel News Fondo: #FFFEF0 Titulo text:negro resumen: #656873 Texto:#F89823 Fondo de texto o para color de icono: #591E5D 
    color #7D8AB0 para los botones del menu 
    Color de fondo de la página #F5F8FF
    Color de letra #6E7895 #21293C
    Colores Laravel Welcome: Letra Laravel #EF3B2D Color para estado Anulado #F4645F Border: #AB8462 Fondo Pagina: #F7FAFC #FFFEF0 #7EA29A  Iconos Card: #A0AEC0 Letras Card: #D8DCE2
    Colores freepik para los alert: Fondo: #EFF3F6 Letra: #1273EB   ; Fondo: #EBF7FE  Letras: #153A6B
    
    Color botones sitio https://ibt.uai.asimov.cl/visualizations
    #464799 #138D75 #DF5B00 #FD435F #09B1FF #97DD0C Color para estado Confirmado 
     Ver display de columnas
     Color Tabla Tailwind: background-color:#F7FAFC; color letra:#718096; 
     https://tailwindcomponents.com/component/table-ui-with-tailwindcss-and-alpinejs
    */

.hover-underline-animation {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #0b5ed7;
    /* ; */
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0b5ed7;
    transform-origin: bottom right;
    transition: transform 0.38s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Efecto rebote Loading */
@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}

.bouncing-loader {
    display: flex;
    justify-content: center;
}

.bouncing-loader > div {
    width: 16px;
    height: 16px;
    margin: 3rem 0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
}
/* Fin Efecto rebote Loading */

/*Ver mas columna Motivo*/
.el {
    transition: max-height 1s;
    overflow: hidden;
    max-height: 0;
}

.trigger:hover > .el {
    max-height: var(--max-height);
}

.classTippy {
    color: #0b5ed7;
}

.classTippy2 {
    color: white;
}

.tippy-box[data-theme~="tablereservas"] {
    background-color: #ebf7fe;
    color: #21293c;
}

.tippy-box[data-animation="rotate"][data-state="hidden"] {
    opacity: 0;
    transform: rotate(90deg);
}

.tippy-box[data-inertia][data-state="visible"] {
    transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

/* 
Efecto Zoom on Hover
#btnBuscar {   
    transition: all 0.3s ease-in-out;
}

#btnBuscar:hover {
  transform: scale(1.1);
} */

/* Efecto Shake */
.btnBuscar1 {   
  transition: all 0.3s ease-in-out;
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

/* #btnBuscar:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
} */

@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Fin Efecto Shake */

/*Donut Loading...*/
.donut {
  display: inline-block;
  border: 4px solid rgba(31, 222, 9, 30);
  border-left-color: #000000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Fin Donut Loading...*/

/*Inicio Spinners*/
.loader {
    color: #1976D2; 
    font-size: 1.2rem;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 1rem auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
/*Fin Spinner*/

/*Inicio Menú Hamburguer*/
.hamburger {
  padding-top: 9px;
  padding-bottom: 9px;
  display: inline-block; 
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  /* border:2px solid;border-radius:5px;padding-left:4px;padding-right:8px;" */
  border: 1;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color:#6C757D; } 

.hamburger-box {
  width: 26px;
  height: 17px;
  display: inline-block;
  position: relative; 
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 1px; 
  margin-bottom: 1px;  
 }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 26px;
    height: 2px;
    background-color: #6C757D;
    border-radius:3px;    
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*Fin Menú Hamburguer*/